/* Reset some basic elements for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
}

/* navbar  */

nav {
  background-color: #000;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  padding: 25px 0;

}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  color: #fff;
  font-size: 1.2rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  margin-left: 5px;
  font-size: 14px;
  vertical-align: inherit;
}

.nav-item a {
  font-size: 14px;
  vertical-align: inherit;
  padding: 20px;
  list-style: none;
}

.nav-link {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ADD8E6;
}

.btn-primary {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border: none;
  color: #343a40;
  max-width: 100px;
  max-height: 40px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #ADD8E6;
}

/* Responsive styles */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #343a40;
    position: absolute;
    top: 63px;
    /* Adjust based on your navbar height */
    left: 0;
    right: 0;
    z-index: 1;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #495057;
  }

  .p img {
    margin: auto;
  }
}

.logoNav {
  width: 50px;
  height: 60px;
}

@media (max-width: 992px) {
  .logoNav {
    width: 58px;
  }

  #experience {
    width: 100%;
  }

  .big-padding {
    padding: 30px 10px;
  }
}

@media (max-width: 768px) {
  .logoNav {
    width: 56px;
  }
}

@media (max-width: 576px) {
  .logoNav {
    width: 54px;
  }
  .card .card-body{
    height: 100%;
  }
}

/* banner */

.card {
  background-color: transparent;
  border: none;
}

.card-body1 h4 {
  color: #ADD8E6;
  font-size: 50px;
}

.card-body {
  color: #fff;
  height: 50vh;
}


.card-title {
  color: #fff;

}

.card-text {
  font-size: 20px;
}

.body-section {
  height: 100vh;
}

.homeBody {
  margin: 40px auto;
}

.img-body {
  max-height: 500px;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
  .img-body {
    display: none;
  }

  .copyRight p {
    font-size: 12px;
  }

  .body-section {
    height: 100%;
  }

  .certificates .section-titles {
    font-size: 16px;
  }

  #experience .section-titles {
    font-size: 16px;
  }

  #service .section-title {
    font-size: 16px;
  }

  .achieve .section-title {
    font-size: 16px;
  }

  .custom-card h5 {
    font-size: 14px;
  }

  .services-grid .custom-card .card-body1 .icon {
    font-size: 40px;
    color: #352e2c;
    margin-bottom: 10px;
  }

  footer .footerlist {
    display: none;
  }

  footer .soso {
    display: none;
  }

}

@media (max-width: 767px) {

  .detailat #s {
    display: none;
  }

  .about-row {
    flex-direction: column;

  }

  .image {
    margin-bottom: 20px;
  }
}


.button-container {
  display: flex;
  gap: 100px;
}

.socials {
  display: flex;
  gap: 60px;
}

.col-md-6.d-flex {
  justify-content: flex-end;
}

.copyRight {
  background-color: rgb(18, 20, 21);
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: 88%;
}

.copyRight p {
  font-size: 20px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 50%;
  background: transparent;
  border: .2rem solid white;
  border-radius: 10%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.social-media a:hover {
  background: #ADD8E6;
  color: var(--snd-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* services */
.section {
  height: 100vh;
}

/* Container for the services section */
#service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title and description styles */
.section-title {
  font-size: 24px;
}

#service .mb-5.pb-4 {
  font-size: 18px;
  max-width: 1600px;
  margin: 0 auto 40px;
}

/* Grid layout for the service cards */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Service card styles */
.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  background: white;
  overflow: hidden;
}

.custom-card :hover {
  background: #ADD8E6;
}

/* Card body styles */
.custom-card .card-body1 {
  padding: 20px;
  text-align: center;
}

/* Icon styles */
.custom-card .card-body1 .icon {
  font-size: 70px;
  color: #352e2c;
  margin-bottom: 10px;
}

/* Hover effect for service cards */
.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.custom-card h5 {
  color: black;
}

/* Achievements */

.commerce {
  height: 100%;
  background: transparent;
}

.image img {
  max-width: 80%;
  max-height: 82%;
}

.imageB {
  position: relative;
  overflow: hidden;
}

.imageB img {
  max-width: 40%;
  max-height: 82%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: transform 0.5s ease-in-out;
}

.imageB:hover img {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* .animating {
  animation: float 3s ease-in-out infinite;
} */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-title {
  opacity: 0;
  /* Initial state */
  transform: translateY(40px);
  /* Initial position */
  transition: opacity 0.5s, transform 1.5s;
}

.section-title.animate {
  opacity: 1;
  transform: translateY(0);
}

#experience {
  width: 92%;
}

/* contact  */

.big-padding {
  padding: 15px;
}

.footerlist {
  display: flex;
  gap: 2rem;
  margin-right: 31rem;
}

footer {
  display: flex;
  justify-content: center;
  height: 40px;
  box-shadow: 2px 2px 5px rgb(30, 28, 28);
  border-top: 1px solid grey;
  font-size: small;
  color: #000;
  background-color: #fff;
}

.section-titles {
  font-size: 24px;
}

iframe {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border-radius: 10px;
  flex: 1;
  min-width: calc(25% - 20px);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

iframe:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter .5s ease-in-out;
}

hr {
  border: none;
  height: 4px;
  background: #fff;
  margin: 30px 0;
}